*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
.nav-class {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    z-index: 10;
}

.logoMenu a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    font-size: 1.2rem;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.signUpBtn:hover,
.nav-links a:hover {
    background-color: rgb(167, 82, 82);
    transform: scale(1.1);
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkgray;
}

.show {
    display: block;
}

.menu-icon {
    font-size: 30px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 50%;
        padding: 20px;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
   
    .herobodyabout{
        margin: 120px 0;
        padding: 10px;
      background: rgb(46, 68, 148);;
        /* display: block; */
    }
    .herobodyabout p{
        margin: 30px;
    }
    .inputarea{
        width: 100%;
       
    }
    .searchBtn {
       margin: 20px;
    }
    .searchBtn button{
    border-radius: 0.375rem;
 
   padding: 0;
   font-size: 16px; 
    }
 
 
}

.heroBody{
    text-align: center;
    padding: 0 auto;
    margin: 10px 0;
    width: 100%;
    background-color: rgb(17, 50, 100);
    height: 600px;
   
   
    
}
.herobodyhead{
    line-height: 1.5;
    top: 50%;
    max-width: 820px;
    margin: 60px;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    font-size: 25px;
    font-weight: 200;
    justify-self: center;
    font-family: "Audiowide", sans-serif;
}
.herobodyhead p {
    justify-self: center;
    color: #fff;
    font-size: 20px;
    font-family: "Audiowide", sans-serif;
}
.channelnameForm input{
    flex: 1;
    /* height: 50px; */
    border: none;
    padding: 5px;
    font-size: 16px;
    max-width: 565px;
    width: 100%;
    margin: 20px 30px;

}

.cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(369px, 1fr));
    padding: 20px 20px;
    gap: 40px;
    padding-left: 101px;
    padding-right: 80px;
    margin: 30px 0px; 
    justify-items: center;
   
    box-shadow: rgba(62, 81, 118, 0.2) 6px 8px;
}
 .homecontainer{
    width: 100%;
    background-color: aliceblue;

    
   
} 

.carddetails {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    max-width: 360px;
    width: 100%;
}
.carddetails h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.carddetails p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}
@media screen and (max-width: 767px) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Single column layout for smaller screens */
      gap: 20px;
      padding: 10px;
    }
    .carddetails{
      padding: 15px;
    }
    .herobodyhead{
        width: 100%;
        font-size: 1.2rem;
        margin: 20px 10px;
        padding: 20px ;
        top: 50px;
    }
   
  }
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 20px;
      padding: 20px;
    }
   
  }
.whatweoffer{
    width: 100%;
    padding: 50px 2px ;
    margin: 0px;
    /* max-width: 1275px; */
     background-color: #f9f9f9;
     text-align: center;
     justify-self: center;
    
}
.aboutwhatweoofer{
    /* justify-items: center; */
    margin: 100px ;
    max-width: 728px;
    justify-self: center;
    
    
}
.aboutwhatweoofer h1{
font-size: 2rem;
}
.aboutwhatweoofer p{
    margin: 10px 0px;
    text-align: center;
    line-height: 2;
    font-size: 1.2rem;
    
}
@media screen and (max-width: 768) {
    .aboutwhatweoofer p, .aboutwhatweoofer h1{
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: 768px;
    }  
}
.benefits{
 justify-content: center;
   display: flex;
   flex-wrap: wrap;
   max-width: 1275px;
   margin:  0 auto;
   -webkit-box-pack: center;
   text-align: center;
   

}
.benefit-item {
    display: flex;
    padding: 20px 40px;
    margin: 5px 5px;
    width: 40%;
    align-self: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: rgb(255, 255, 255);
    box-shadow: rgba(149, 159, 174, 0.2) 0px 2px 6px;
    border-radius: 5px;
    font-size: 1.3rem;
    /* justify-content: center; */
    
}
@media (max-width: 767.98px) {
.benefits .benefit-item {
        width: 100%;
        padding: 15px 19px;
        margin: 0px 0px 10px;
}
}
.whatWaitingSection{
    background: rgb(46, 68, 148);
    color: #fff;
   
   
}
.whatwaiting {
    margin:20px;
    padding: 20px;
    margin: auto;
    max-width: 520px;
    width: 100%;
    line-height: 2;
    justify-self: center;
    text-align: center;
    
}
.whatwaiting h1{
    font-size: 2rem;
}
.whatwaiting p{
    font-size: 1.2rem;
}
.hYyMVZ {
    max-width: 35.7222rem;
    position: relative;
    justify-self: center;
    width: 100%;
}
.input{
    width: 100%;
}

.channelnameForm{
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 1px;
    margin: 30px 0;
    cursor: default;
    display: flex
;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 24px;
    position: relative;
    transition: 100ms;
    box-sizing: border-box;
    font-size: 1rem;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    padding-left: 16px;
    outline: 0px !important;
height: 70px;
}

@media (max-width: 575px) {
    .channelnameForm {
        font-weight: 400;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        width: 100%;
        left: 0px;
        font-size: 1rem;
        opacity: 0.6;
    }
}

.css-1bcivhn-placeholder {
    color: rgb(107, 114, 128);
    margin-left: 6px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    font-family: Inter;
    z-index: 0;
    user-select: none;
    white-space: nowrap;
    opacity: 0.6;
    letter-spacing: -0.2px;
    font-weight: 400;
    font-size: 15px !important;
}
div{
    display: block;
}

.search-button {
    position: absolute;
    top: 0px;
    margin: 35px 0;
    right: 4px;
    bottom: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.search-button button {
    font-family: "Circular Std";
    font-weight: 500;
    height: 200px;
    z-index: 2;
    font-size: 17px;
    background-color: rgb(244, 181, 94);
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    color: #fff;
}
@media screen and (max-width: 768px) {

    .search-button {
        position: unset;
        margin: 10px 0;
       
    }
    .search-button button{
        max-width: 758px;
        width: 90%;
        margin: 0 30px;
        padding: 10px ;
        height: 60px;
        border-radius: 10px;
        background-color: rgb(244, 181, 94);
       
    }
}

.iFgLPn {
    font-size: 1rem;
    padding: 1.125rem 1.25rem;
    background-color: rgb(244, 181, 94) !important;
}
.trustpilot{
    text-align: center;
    margin: 20px;
}
.videoPro{
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0;
    /* align-items: center; */
}
.Videoprojection{
   line-height: 2;
    max-width: 539px;
    padding-left: 80px;
    margin: 50px 100px;
   font-size: 16px;
}
.startPromoting{
    line-height: 2;
    max-width: 539px;
    /* padding-left: 80px; */
    margin: 50px 100px;
   font-size: 16px;
}
.startPromoting h1{
    font-size: 35px;
    line-height: 1.2;
}
.videoCard{
    width: 500px;
    height: 450px;
    background-color:#fff;
    padding-left: 10px;
    margin-left: 10px;
margin-bottom: 110px;
border-radius: 10px;
margin-top: 90px;
}
.videoCard h2{
    text-align: center;
    margin: 20px 0;
}

.videoimg{
    max-width: 650px;

    /* margin: 30px;
    padding: 40px; */
    padding-left: 100px;
    margin: 10px; 
    width: 100%;
    /* height: 400px; */
}
.videoimg img{
    padding-bottom: 40px;
    
    
}
@media screen and (max-width: 786px) {
    .Videoprojection{
        width: 100%;
        margin: 10px;
        padding: 10px;
        order: 3;
        justify-items: center;
    }
    .videoimg {
        order: 4;
        width: 100%;
        padding: 5px;
        margin: 5px;
    }
    .videoimg img{
        padding-right: 10px;
        width: 100%;
        max-width: fit-content;
        height: 400px;
       
    }
    .startPromoting{
        width: 100%;
        margin: 5px;
        padding: 5px;
        justify-items: center;
        order: 4;
    }
    /* .videoCard{
        order: 2;
    } */
}
.trustedLoved{
    margin:20px;
    padding: 20px;
    margin: auto;
    max-width: 690px;
    width: 100%;
    line-height: 2;
    justify-self: center;
    text-align: center;
    font-size: 15px;
}
.slick-slider{
   display: flex;
   /* max-width: 890px; */
   opacity: 1;
   transform: translate3d();
   -webkit-transform: 10000ms linear;
}
.silde-card{
    margin: 10px;
    padding: 10px;
}